.vs
*.csproj.user
*.props
*.targets

*/bin
*/obj

CustomEnergyBar-Template/.vs
CustomEnergyBar-Template/Library
CustomEnergyBar-Template/Temp
CustomEnergyBar-Template/Assets/Kingdom Hearts
CustomEnergyBar-Template/Assets/Kingdom Hearts.meta
CustomEnergyBar-Template/Assets/SimpleBar
CustomEnergyBar-Template/Assets/SimpleBar.meta
CustomEnergyBar-Template/Assets/Minecraft
CustomEnergyBar-Template/Assets/Minecraft.meta
CustomEnergyBar-Template/Assets/TestBar
CustomEnergyBar-Template/Assets/TestBar.meta