.vs
*.csproj.user
*.props
*.targets

*/bin
*/obj

CustomEnergyBar-Template/.vs
CustomEnergyBar-Template/Library
CustomEnergyBar-Template/Temp
CustomEnergyBar-Template/Assets/Customs
CustomEnergyBar-Template/Assets/Customs.meta
CustomEnergyBar-Template/Assets/TextMesh Pro
CustomEnergyBar-Template/Assets/TextMesh Pro.meta