.vs
*.csproj.user
*.props
*.targets

CustomEnergyBar/bin
CustomEnergyBar/obj

CustomEnergyBar-Template/.vs
CustomEnergyBar-Template/Library
CustomEnergyBar-Template/Temp
CustomEnergyBar-Template/obj
CustomEnergyBar-Template/Assets/Kingdom Hearts
CustomEnergyBar-Template/Assets/SimpleBar
CustomEnergyBar-Template/Assets/Kingdom Hearts.meta
CustomEnergyBar-Template/Assets/SimpleBar.meta

CustomEnergyBarUnityPlugin/bin
CustomEnergyBarUnityPlugin/obj